<br>
<h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
<div class="jumbotron">
  <div class="text-center">
    <p>Sign up for a free account!</p>
<%= link_to "Sign-up", new_user_registration_path, class: 'btn btn-success' %>

  </div>

  <div class="text-center">

  </div>

  <% unless user_signed_in? %>
  <div class="text-center">
    <h2>Create and share Markdown Wikis</h2>

    <% end %>
  </div>
</div>
<div class="row">

  <div class="col-md-4 text-center">
  <%= image_tag("how.png",size: "220x180", :alt => "picture") %>
  </div>
  <div class="col-md-4 text-center">
  <%= image_tag("woman.jpg",size: "220x180", :alt => "picture") %>
  </div>



  <div class="col-md-4 text-center">
  <%= image_tag("how.png",size: "220x180", :alt => "picture") %>
  </div>

</div>
