<h3><%= @wiki.title %></h3>
<small>
  submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
</small>
<div class="row">
  <div class="col-md-8">
    <p><%= @wiki.body %></p>
  </div>
</div>
